// * {
//     background: #e66963;
// }
p {
    font-size: 25px;
    padding-left: 150px;
    text-align: justify;
    color: white;
    margin-bottom: 0px !important;
}

#teste {
    font-size: 15px;
    padding-left: 150px;
    text-align: justify;
    margin-left: 150px;
    color: white;
}

h1 {
    font-size: 45px;
    padding-left: 150px;
    text-align: justify;
    color: white;
}

.pokemon-list {
    display: flex;
    margin: 140px;
    text-align: center;
    margin-top: 50px !important;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    color: black;
    border-radius: 10px;
}




/// .color1 { #fccc0b };
///.color2 { #fde37c };
///.color3 { #073372 };
///.color4 { #a79e4e };
///.color5 { #95acc0 }; 